
{% extends 'base.html.twig' %}

{% block title %}Espace professeur{% endblock %}

{% block body %}

{% include 'teacher/teacherheader.html.twig' %}

<form action="" method="GET">
    <div>
        <label for="name">Nom de la classe :</label>
        <input type="text" id="name" name="class_name">
    </div>
    <div>
  <button type="submit" class="btn-general">Créer la classe</button>
</form>


{% endblock %}
