
{% extends 'base.html.twig' %}

{% block title %}Espace professeur{% endblock %}

{% block body %}
  
  <div class="bg">

  {% include 'teacher/teacherheader.html.twig' %}

      <div class="container-teach">
        
      </div>
</div>
</tr>

  <div class="container">


  </div>
{% endblock %}
