{% extends 'base.html.twig' %}

{% block title %}Erreur - {{ parent() }}{% endblock %}

{% block body %}

<h2>Vous n'avez pas les droits pour accéder à cette page.</h2>

<h3>Merci de retourner à l'accueil.</h3>

{% endblock %}
