/* ***************** */
/*       BASE        */
/* ***************** */
/* Variable    */
body {
  margin: 0;
  font-family: "PT Sans", sans-serif; }

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Oswald", sans-serif; }

* {
  box-sizing: border-box; }

/* ****************** */
/*       BTN          */
/* ********************/
.btn-general {
  margin: 20px auto;
  text-align: center;
  background: #3caea3;
  text-decoration: none;
  color: #fff;
  background: #3caea3;
  padding: 10px 45px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 60px;
  box-shadow: 2px 4px 0px 0px #133f5f;
  transition: all 0.2s;
  border: none;
  outline: none; }
  .btn-general:active {
    position: relative;
    top: 2px;
    box-shadow: 0px 0px 0px 0px #133f5f; }
  .btn-general:hover {
    text-decoration: none;
    color: #133f5f;
    font-weight: 600; }

/* ****************** */
/*       INPUT         */
/* ********************/
label {
  font-family: "PT Sans", sans-serif;
  color: #133f5f; }

.inputbox input[type="text"],
.inputbox input[type="password"],
.inputbox input[type="email"] {
  border: none;
  border-bottom: 1px solid #133f5f;
  height: 40px;
  color: #133f5f;
  background: transparent;
  font-size: 16px;
  padding-right: 20px; }

.inputbox input[type="text"]:focus,
.inputbox input[type="password"]:focus {
  border-bottom: 2px solid #133f5f;
  outline: none; }

/* ************************ */
/*     progresse bar       */
/* ************************ */
/* ************************ */
/*      PARTIE LOGIN        */
/* ************************ */
.container-login {
  background: #3caea3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Formulaire de connexion*/ }
  .container-login .loginBox {
    position: relative;
    width: 400px;
    min-height: 600px;
    background-color: #f8f8f8;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10px 0;
    /* gestion des erreurs*/
    /*contenu de la card */
    /* Lien page d'inscription*/ }
    .container-login .loginBox .errorLogin {
      position: absolute;
      width: 230px;
      height: 280px;
      left: -25%;
      top: 10%; }
      .container-login .loginBox .errorLogin img {
        width: 100%; }
      .container-login .loginBox .errorLogin .text-error {
        position: absolute;
        font-weight: bold;
        width: 180px;
        height: 230px;
        top: 25%;
        left: 30%;
        color: red;
        font-size: 1.2rem; }
    .container-login .loginBox .logo {
      width: 300px;
      height: 200px;
      display: flex;
      justify-content: center; }
      .container-login .loginBox .logo img {
        width: 100%; }
    .container-login .loginBox h3 {
      font-family: "Oswald", sans-serif;
      font-size: 1,2rem;
      margin-bottom: 30px; }
    .container-login .loginBox form {
      text-align: center; }
      .container-login .loginBox form .para {
        color: #133f5f;
        margin-bottom: 0; }
    .container-login .loginBox .lien a {
      margin: 20px;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3;
      text-transform: uppercase; }
      .container-login .loginBox .lien a.student {
        color: #ffdb5c; }
      .container-login .loginBox .lien a.teacher {
        color: #133f5f; }
    .container-login .loginBox .lien:hover .student {
      color: #fa6e59; }

/* End conteneur login*/
/* ************************* */
/*     Register Teacher  */
/* ************************ */
.container-teacher {
  background: #3caea3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }
  .container-teacher .container {
    text-align: center; }
    .container-teacher .container h2 {
      color: #133f5f; }
    .container-teacher .container .row {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-teacher .container .row .btncolor {
        background: #133f5f;
        box-shadow: 2px 4px 0px 0px white; }

/* ************************* */
/*     Register Student  */
/* ************************ */
.container-student {
  background: #ffdb5c;
  height: 100vh;
  padding: 100px 60px;
  margin: 0 auto;
  text-align: center; }
  .container-student input {
    background: transparent;
    border: 2px solid #ffdb5c; }
  .container-student .container {
    text-align: center; }
    .container-student .container .h2 {
      margin: 10px 0; }

.container-student .btn-student {
  background: #ffdb5c;
  color: #133f5f;
  font-weight: bold;
  color: #fff; }

/* ************************* */
/*      MENU STUDENT         */
/* ************************ */
/* FLEX BOX */
.menuflex {
  display: flex;
  height: 100vh; }
  .menuflex .section {
    flex: 1;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
    /* ***************************** */
    /*  Accueil Eleve part college   */
    /* ******************************/
    /* ***************************** */
    /*          Part of Student     */
    /* ******************************/
    /* ***************************** */
    /*          PART GAMES           */
    /* ******************************/ }
    .menuflex .section h3 {
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: all 0.5s;
      font-size: 3rem; }
    .menuflex .section:hover {
      flex: 3; }
      .menuflex .section:hover h3 {
        transform: rotate(0deg);
        top: 2%;
        left: 35%; }
    .menuflex .section.sectionOne {
      background: #4897d8;
      text-align: center; }
      .menuflex .section.sectionOne .container-school {
        display: none; }
      .menuflex .section.sectionOne:hover h3 {
        margin-left: 50px; }
      .menuflex .section.sectionOne:hover .container-school {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .menuflex .section.sectionOne:hover .container-school .card-school {
          width: 70%;
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1); }
          .menuflex .section.sectionOne:hover .container-school .card-school .avatar-school {
            width: 150px;
            height: 150px;
            margin-top: 30px;
            border-radius: 50%;
            background: #e2dede; }
            .menuflex .section.sectionOne:hover .container-school .card-school .avatar-school img {
              width: 100%;
              height: 100%;
              border-radius: 50%; }
          .menuflex .section.sectionOne:hover .container-school .card-school .info-college p {
            font-size: 1.2rem;
            font-family: "PT Sans", sans-serif;
            font-weight: 500;
            color: white;
            margin-top: 20px;
            font-weight: 600; }
          .menuflex .section.sectionOne:hover .container-school .card-school .social {
            margin-top: 50px; }
            .menuflex .section.sectionOne:hover .container-school .card-school .social ul {
              display: flex;
              justify-content: center; }
              .menuflex .section.sectionOne:hover .container-school .card-school .social ul li {
                position: relative;
                width: 50px;
                height: 50px;
                background: #fff;
                border: 4px solid #2277dd;
                border-radius: 50%;
                box-sizing: border-box;
                transition: .5s;
                margin: 0 20px;
                overflow: hidden; }
                .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .fab, .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .far {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: #2277dd;
                  font-size: 1.8em;
                  transition: .5s; }
                  .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .fab:nth-child(1), .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .fab:nth-child(1), .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .far:nth-child(1), .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .far:nth-child(1) {
                    top: -50%;
                    opacity: 0; }
                .menuflex .section.sectionOne:hover .container-school .card-school .social ul li:hover {
                  background: #2277dd; }
          .menuflex .section.sectionOne:hover .container-school .card-school .social ul li:hover .fab:nth-child(1),
          .menuflex .section.sectionOne:hover .container-school .card-school .social ul li:hover .far:nth-child(1) {
            top: 50%;
            opacity: 1;
            color: #fff; }
          .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .fab:nth-child(2),
          .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .far:nth-child(2) {
            top: 50%;
            opacity: 1; }
          .menuflex .section.sectionOne:hover .container-school .card-school .social ul li:hover .fab:nth-child(2),
          .menuflex .section.sectionOne:hover .container-school .card-school .social ul li:hover .far:nth-child(2) {
            top: 150%;
            opacity: 0; }
    .menuflex .section.sectionTwo {
      background: #ffdb5c;
      box-shadow: 6px 2px 17px 7px rgba(0, 0, 0, 0.54);
      position: relative; }
      .menuflex .section.sectionTwo .card-eleve {
        display: none;
        position: relative;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1); }
      .menuflex .section.sectionTwo:hover .scoring-affichage {
        position: absolute;
        top: 10%;
        left: 0px;
        width: 200px;
        height: 200px;
        transform: rotate(20deg); }
        .menuflex .section.sectionTwo:hover .scoring-affichage img {
          width: 100%; }
        .menuflex .section.sectionTwo:hover .scoring-affichage h4 {
          position: absolute;
          top: 60px;
          left: 40px; }
      .menuflex .section.sectionTwo:hover .container-eleve {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .menuflex .section.sectionTwo:hover .container-eleve .card-eleve {
          width: 70%;
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .menuflex .section.sectionTwo:hover .container-eleve .card-eleve .scoring-affichage h4 {
            font-size: 2rem;
            color: #133f5f; }
          .menuflex .section.sectionTwo:hover .container-eleve .card-eleve .card-avatar-pict {
            width: 200px;
            height: 200px;
            margin-top: 30px;
            border-radius: 50%;
            background: grey; }
            .menuflex .section.sectionTwo:hover .container-eleve .card-eleve .card-avatar-pict img {
              width: 100%;
              border-radius: 50%; }
          .menuflex .section.sectionTwo:hover .container-eleve .card-eleve .expe {
            margin: 10px 0 20px 0; }
            .menuflex .section.sectionTwo:hover .container-eleve .card-eleve .expe i {
              font-size: 3rem;
              color: #fa6e59; }
    .menuflex .section.sectionThree {
      background: #fa6e59;
      box-shadow: inset 10px 2px 17px -7px rgba(0, 0, 0, 0.35); }
      .menuflex .section.sectionThree .container-jeu {
        display: none; }
      .menuflex .section.sectionThree:hover h3 {
        margin-left: 60px; }
      .menuflex .section.sectionThree:hover .container-jeu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1); }
        .menuflex .section.sectionThree:hover .container-jeu .slide-jeu {
          margin-top: 30px; }

/* ************************* */
/*        PROFIL ELEVE       */
/* ************************ */
.container-profil {
  background: #ffdb5c;
  width: 100%;
  height: 100vh; }
  .container-profil .maincontainer {
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 90%; }
    .container-profil .maincontainer .profil-card {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #2e2e2e;
      border-radius: 15px; }
      .container-profil .maincontainer .profil-card .headcard {
        padding: 0 30px;
        height: 200px;
        width: 100%;
        background: #fccd32;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative; }
        .container-profil .maincontainer .profil-card .headcard .identity {
          text-align: center; }
          .container-profil .maincontainer .profil-card .headcard .identity a {
            cursor: pointer;
            transition: 0.5s;
            color: #fff;
            font-size: 2.5rem;
            position: absolute;
            top: 5px;
            left: 50px; }
            .container-profil .maincontainer .profil-card .headcard .identity a:hover {
              transform: rotateY(360deg);
              color: #fa6e59; }
          .container-profil .maincontainer .profil-card .headcard .identity h2 {
            font-size: 3rem;
            padding-top: 50px; }
        .container-profil .maincontainer .profil-card .headcard .avatar {
          width: 130px;
          height: 130px;
          background: grey;
          border-radius: 50%;
          margin-bottom: 30px; }
          .container-profil .maincontainer .profil-card .headcard .avatar img {
            width: 100%;
            border-radius: 50%; }
        .container-profil .maincontainer .profil-card .headcard .scoring {
          height: 50px; }
          .container-profil .maincontainer .profil-card .headcard .scoring h3 {
            font-size: 2rem; }
    .container-profil .maincontainer .bodycard {
      position: relative;
      width: 100%;
      text-align: center; }
      .container-profil .maincontainer .bodycard .pictQcm {
        position: absolute;
        top: -130px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        height: 250Px; }
        .container-profil .maincontainer .bodycard .pictQcm img {
          width: 100%; }
      .container-profil .maincontainer .bodycard .content-jeux-open {
        width: 100%;
        height: 100%; }
        .container-profil .maincontainer .bodycard .content-jeux-open h2 {
          margin: 50px 0;
          color: #fff; }
    .container-profil .maincontainer .btndeconnect {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 100px; }
      .container-profil .maincontainer .btndeconnect:hover {
        color: #ffdb5c; }

/* card jeu*/
.slide-jeu {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden; }
  .slide-jeu .box {
    position: relative;
    width: 150px;
    height: 150px;
    background: #ffdb5c;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 12px; }
  .slide-jeu .box .imgBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .slide-jeu .box .imgBox img {
    width: 80%;
    transition: transform 2s; }
  .slide-jeu .box:hover .imgBox img {
    transform: scale(1.2); }
  .slide-jeu .box .details {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    transform: scaley(0);
    transition: transform 0.5s; }
  .slide-jeu .box:hover .details {
    transform: scaley(1); }
  .slide-jeu .box .details .content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    padding: 10px;
    color: #fff; }
  .slide-jeu .box .details .content h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffdb5c; }
  .slide-jeu .box .details .content p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 14px; }

/* ************** */
/*      QUIZZ       */
/*******************/
.container-quizz {
  background-color: #fa6e59;
  height: 100%;
  padding: 20px; }
  .container-quizz .logoquizz {
    width: 300px;
    height: 200px; }
    .container-quizz .logoquizz img {
      width: 100%; }
  .container-quizz h1 {
    color: #fff;
    text-align: center; }
  .container-quizz .section {
    padding: 100px;
    padding-left: 150px;
    background: #FF8A66; }
    .container-quizz .section h3 {
      color: #fff;
      margin-bottom: 20px; }

/* Media queries   */
@media (max-width: 780px) {
  .menuflex {
    flex-flow: column;
    height: 100vh; }
    .menuflex .section {
      /* section de l'ecole */
      /* fin section One */
      /* section eleve*/ }
      .menuflex .section h3 {
        margin-left: 60px;
        margin-top: 20px;
        font-size: 1.8rem;
        transform: rotate(0deg);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .menuflex .section.sectionOne:hover .container-school .card-school {
        height: 60%; }
        .menuflex .section.sectionOne:hover .container-school .card-school .avatar-school {
          width: 100px;
          height: 100px; }
        .menuflex .section.sectionOne:hover .container-school .card-school .info-college {
          margin-top: 20px; }
          .menuflex .section.sectionOne:hover .container-school .card-school .info-college p {
            font-size: 1rem;
            line-height: 0.5rem; }
        .menuflex .section.sectionOne:hover .container-school .card-school .social {
          margin-top: 20px; }
          .menuflex .section.sectionOne:hover .container-school .card-school .social ul li {
            width: 40px;
            height: 40px;
            border: 2px solid #2277dd;
            margin: 0 10px; }
            .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .fab, .menuflex .section.sectionOne:hover .container-school .card-school .social ul li .far {
              font-size: 1rem; }
      .menuflex .section.sectionTwo:hover .scoring-affichage {
        width: 100px; }
        .menuflex .section.sectionTwo:hover .scoring-affichage h4 {
          top: 14px;
          left: -20px;
          font-size: 1.4rem; }
      .menuflex .section.sectionTwo:hover .container-eleve .card-eleve {
        height: 70%; }
        .menuflex .section.sectionTwo:hover .container-eleve .card-eleve .card-avatar-pict {
          width: 100px;
          height: 100px; }
        .menuflex .section.sectionTwo:hover .container-eleve .card-eleve .expe i {
          font-size: 2rem; }
        .menuflex .section.sectionTwo:hover .container-eleve .card-eleve a#profil {
          padding: 5px 30px;
          font-size: 14px; }
      .menuflex .section.sectionThree:hover .slide-jeu {
        justify-content: center;
        height: 40%; }

  /*  PROFIL */
  .container-profil .icone-home {
    display: none; }
  .container-profil .maincontainer {
    width: 90%; }
    .container-profil .maincontainer .profil-card .bodycard {
      height: 100%; }

  /* register student*/
  .container-student {
    height: 100%; } }
/* fin media queries */
@media (max-width: 600px) {
  .container-student {
    padding: 60px 60px; } }

/*# sourceMappingURL=style.css.map */
